.App {
  text-align: center;
}

.Footer{
  bottom:0;
  margin-top:auto;
}

.Background{
  background-image: url('./Assests/Hero.jpg');
  width:max-content;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}